@page
@model DriveByBooking.Pages.Garage1.ConfirmModel
@{
}
<h1>TAK FOR DIN BESTILLING!!!</h1>

@* 

<form method="post">
    <div class="form-group">

        <label>Bookning</label> : @Model.Books.CarClass<br />
        <br />
        <label>Bookning</label> : @Model.Book.CustomerClass<br />
        <br />
        <label>Bookning</label>  : @Model.Book.DateTime<br />
        <br />
        <label>Bookning</label>  : @Model.Book.BookingId<br />
        <br />



        <input type="submit" value="Order" class="btn btn-danger" asp-page-handler="Order" asp-route-id="@Model.Cars.LicensePlate" />

        <input type="submit" value="Cancel" class="btn btn-warning" asp-page-handler="Cancel" />
    </div>
</form> *@