@page
@using DriveByBooking.Model.CarFolder;
@model DriveByBooking.Pages.Admin.CarIndexModel
@{
}

<h1>Velkommen til Admin siden</h1>


<h2>Her ses alle biler</h2>

<form method="post">
    Vil du oprette en ny Bil tryk på <input type="submit" value="Opret" class="btn btn-outline-primary" asp-page-handler="Car" />
</form>

<p></p>
<form method="post" class="border border-success rounded">
    <input type="submit" asp-page-handler="Search" value="Søg" class="btn btn-outline-success" />
    Navn <input type="text" asp-for="@Model.SearchCarName" />
    Brand <input type="text" asp-for="@Model.SearchBrand" />
    Pris <input type="number" asp-for="@Model.SearchPrice" />
    Type <input type="text" asp-for="@Model.SearchType" />
    Bil type <input type="text" asp-for="@Model.SearchCarType" />
    Gear type <input type="text" asp-for="@Model.SearchShiftType" />
    Motortype <input type="text" asp-for="@Model.SearchEngineType" />
    Lokation <input type="text" asp-for="@Model.SearchLocation" />
</form>
<p></p>

<table class="table table-hover">
    <thead>
        <tr>
            <form method="post">
            <th><input type="submit" asp-page-handler="SortLicensePlate" value="Nummerplade" class="btn btn-outline-success" /></th>
            <th><input type="submit" asp-page-handler="SortName" value="Navn" class="btn btn-outline-success" /></th>
            <th>Brand</th>
            <th>Pris</th>
            <th>Type</th>
            <th>Biltype</th>
            <th>Geartype</th>
            <th>Motortype</th>
            <th>Lokation</th>
            <th></th>
            <th></th>
            </form>
        </tr>
    </thead>
    <tbody>
        @foreach (CarClass c in Model.Cars)
        {
            <tr>
                <td>@c.LicensePlate</td>
                <td>@c.Name</td>
                <td>@c.Brand</td>
                <td>@c.Price</td>
                <td>@c.Type</td>
                <td>@c.CarType</td>
                <td>@c.ShiftType</td>
                <td>@c.EngineType</td>
                <td>@c.Location</td>
                <td><a asp-page="UpdateCar" asp-route-licensePlate="@c.LicensePlate">Ændre</a></td>
                <td><a asp-page="DeleteCar" asp-route-licensePlate="@c.LicensePlate">Slet</a></td>
            </tr>
        }
    </tbody>
</table>