@page
@model DriveByBooking.Pages.Admin.DeleteCarModel
@{
}
<h1> Slet en bil </h1>

@* Display af the valgte bil som skal slettets, og nederst en knap til at slette eller fortryde *@

<form method="post">
    <div class="form-group>">
        <label>Nummerplade</label> : @Model.CarClass.LicensePlate<br />
        <br />
        <label>Bil navn</label> : @Model.CarClass.Name<br />
        <br />
        <label>Brand</label>  : @Model.CarClass.Brand<br />
        <br />
        <label>Pris</label>  : @Model.CarClass.Price<br />
        <br />
        <label>Type</label>  : @Model.CarClass.Type<br />
        <br />
        <label>Bil type</label>  : @Model.CarClass.CarType<br />
        <br />
        <label>Gear type</label>  : @Model.CarClass.ShiftType<br />
        <br />
        <label>Motor type</label>  : @Model.CarClass.EngineType<br />
        <br />
        <label>Lokation</label>  : @Model.CarClass.Location<br />
        <br />

        <input type="submit" value="Slet Bil" class="btn btn-danger" asp-page-handler="Delete" asp-route-licensePlate="@Model.CarClass.LicensePlate" />

        <input type="submit" value="Fortryd" class="btn btn-warning" asp-page-handler="Cancel" />
    </div>
</form>