@page
@using DriveByBooking.Model;
@using DriveByBooking.Model.CarFolder;
@using DriveByBooking.Model.ProfilFolder;
@model DriveByBooking.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Customer";
}


   <h1>Velkommen til Admin siden</h1>

   
   <h2>Her ses alle kunder</h2>

<form method="post">
    Vil du oprette en ny Kunde tryk på <input type="submit" value="Opret" class="btn btn-outline-primary" />
</form>

<p></p>
<form method="post" class="border border-success rounded">
    <input type="submit" asp-page-handler="Search" value="Søg" class="btn btn-outline-success" />
    Kunde Nummer <input type="number" asp-for="@Model.SearchId" />
    Kunde Navn <input type="text" asp-for="@Model.SearchName" />
    Kunde Tlf <input type="text" asp-for="@Model.SearchPhoneNumber" />
    Kunde Email <input type="text" asp-for="@Model.SearchEmail" />
</form>
<p></p>

<table class="table table-hover">
    <thead>
        <tr>
            <form method="post">
            <th><input type="submit" asp-page-handler="SortId" value="Kunde Nummer" class="btn btn-outline-success" /></th>
            <th><input type="submit" asp-page-handler="SortName" value="Navn" class="btn btn-outline-success" /></th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th></th>
            <th></th>
            </form>
        </tr>
    </thead>
    <tbody>
        @foreach (CustomerClass c in Model.Customers)
        {
            <tr>
                <td>@c.CustomerId</td>
                <td>@c.Name</td>
                <td>@c.PhoneNumber</td>
                <td>@c.Email</td>
                <td>@c.Username</td>
                <td>@c.Password</td>
                <td><a asp-page="UpdateCustomer" asp-route-id="@c.CustomerId">Ændre</a></td>
                <td><a asp-page="DeleteCustomer" asp-route-id="@c.CustomerId">Slet</a></td>
            </tr>
        }
    </tbody>
</table>