@page
@model DriveByBooking.Pages.Admin.NewCarModel
@{
    ViewData["Title"] = "Car";
}

<h1>Opret en ny bil</h1>


<form method="post">
    <div class="form-group>">
        <label>Nummerplade</label><br />
        <input class="form-control" asp-for="@Model.NewLicensePlate" /><br />
        <label class="text text-danger">@Model.ErrorMessage</label><br />
        <br />

        <label>Bil Navn</label><br />
        <input class="form-control" asp-for="@Model.NewCarName" /><br />
        <span asp-validation-for="@Model.NewCarName" class="text-danger"></span><br />
        <br />

        <label>Brand</label><br />
        <input class="form-control" asp-for="@Model.NewBrand" /><br />


        <label>Pris</label><br />
        <input class="form-control" asp-for="@Model.NewPrice" /><br />

        <label>Type</label><br />
        <input class="form-control" asp-for="@Model.NewType" /><br />

        <label>Bil type</label><br />
        <input class="form-control" asp-for="@Model.NewCarType" /><br />

        <label>Gear type</label><br />
        <input class="form-control" asp-for="@Model.NewShiftType" /><br />

        <label>Motor type</label><br />
        <input class="form-control" asp-for="@Model.NewEngineType" /><br />

        <label>Lokation</label><br />
        <input class="form-control" asp-for="@Model.NewLocation" /><br />

        <label>Booking Status:</label><br />
        <input type="radio" asp-for="@Model.NewIsBooked" value="true" /> Booked<br />
        <input type="radio" asp-for="@Model.NewIsBooked" value="false" /> Not Booked<br />



        <input type="submit" value="Opret Ny Bil" class="btn btn-success" />
        <input type="submit" value="Fortryd" class="btn btn-danger" asp-page-handler="Cancel" />
    </div>
</form>